@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "./assets/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.img-bg {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 60%,
      rgba(0, 0, 0, 0.5) 60%
    ),
    url(https://suratboxcricket.com/box/44/kohali-box-cricket-turf-1-468178.jpeg);
  background-size: cover;
}

.cardShadow {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.373);
}

/* Style the scrollbar track */
::-webkit-scrollbar {
  width: 8px; /* Width of the vertical scrollbar */
  height: 7px; /* Height of the horizontal scrollbar */
}

/* Style the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the thumb */
  border-radius: 10px; /* Rounded corners */
  border: 3px solid #fff; /* Border around the thumb */
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
  border-radius: 10px;
}

/* Optional: on hover, change the thumb color */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
